Cuba-4.2/
lhapdf6/
*.o
*.a
*~
src/dyfast
src/dyfin
Makefile.in
Makefile
autom4te.cache/
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
bin/
*/.deps/
fort.1
mline.C
pdffit.grid
