Cuba-4.2/
lhapdf6/
*.root
*.o
*.lo
*.a
*.la
*.pyc
*~
*.swp
tags
src/dyturbo
Makefile.in
Makefile
autom4te.cache/
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
bin/
include/
*/.deps/
fort.1
mline.C
pdffit.grid
scripts/batch_scripts
scripts/infiles
results
results_merge
run_dir
share

ar-lib
config.guess
config.sub
lib/
libtool
ltmain.sh
m4/
src/.libs/
dyturbo-config
.deps/
