Cuba-4.2/
lhapdf6/
chaplin-1.2/
origdyres/*.f
origdyres/*.h
origdyres/DYRes-v1.0
origdyres/dyrestest
*.root
*.o
*.lo
*.a
*.la
*.pyc
*~
*.swp
tags
src/dyturbo
src/dytests
src/dyturbo-merger
test/points
Makefile.in
Makefile
autom4te.cache/
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
bin/
include/
*/.deps/
fort.1
mline.C
pdffit.grid
scripts/batch_scripts
scripts/infiles
results*
GRID*
run_dir
run_dir2
share

ar-lib
config.guess
config.sub
lib/
libtool
ltmain.sh
src/.libs/
test/.libs/
dyturbo-config
.deps/
*.in
*line.C
gmock/

cubature/COPYING
cubature/ChangeLog
cubature/NEWS
cubature/README
cubature/*.h
cubature/*.c
